/* imports font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Poppins:ital,wght@0,500;1,500&family=Work+Sans:wght@500&display=swap');

:root {
    --primary-color: rgba(255, 144, 14, 0.1);
    --primary-font: 'Work Sans';
    --primary-text-color: #131313;
    --primary-button-color: #FF900E;
}

/* Universal section */
* {
    box-sizing: border-box;

}

/* body section */
body {
    /* min-height: 100vh; */
    font-family: var(--primary-font);

}

/* navbar-style */
.header {
    background-color: antiquewhite;

}

.navbar {
    display: flex;
    justify-content: space-between;
    /* padding-left: 120px;
    padding-right: 20px; */

    color: #424242;


}

.navbar h2 {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: var(--primary-text-color);
    margin-top: 20px;
    padding-left: 100px;
}

.nav-container ul {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    padding-right: 40px;

}

.nav-container ul li {
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;

}

/* brand style */
.span{
    color: var(--primary-button-color);
}
.brand {
    width: 100%;
    align-items: center;
    text-align: center;
}

.brand-img {
    width: 100%;
    align-items: center;
    text-align: center;
    padding-bottom: 30px;
}

.brand-title {
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 55px;
    text-align: center;

}

.brand-paragraph {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #727272;
    padding: 0 60px 0 60px;

}

.brand-button button {

    margin-top: 25px;
    margin-bottom: 30px;
    background-color: var(--primary-button-color);
    border: 0;
    border-radius: 5px;
    width: 180px;
    height: 64px;
    align-items: center;
    text-align: center;
}

.brand-img img {
    width: 780px;
    height: 350px;

}

/* features style */
main {
    max-width: 1120px;
    margin: 0 auto;
}

.feature {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.image {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 100px;
    margin-top: 100px;
    padding: 30px;
}

.image img {
    width: 150px;
    height: 150px;
}

.features-info {
    margin-top: 150px;
    padding: 30px;
    /* margin-left: 50px; */

}

.feature-title {
    padding-right: 100px;
}

/* love-feature */
.love-feature-image{
    
}
.relative{
    border: 2px solid red;
    width: 180px;
    position:;
    background-color:var(--primary-button-color);
    border-radius: 5px;
    color: #FFF4E7;
}
.love-feature {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 40px;

}

.love-info {
    text-align: left;
    padding-right: 40px;
}

.love-title {
    font-weight: 700;
    font-size: 40px;
}

.love-author {
    font-size: 16px;
    margin-bottom: 60px;
}

.desktop-title {
    font-weight: 600;
    font-size: 20px;
    padding-left: 15px;

}

.desktop-author {
    font-weight: 400;
    font-size: 16px;
    margin-top: 10px;
    padding-left: 15px;
}

.image-info {
    align-items: center;
    text-align: center;


}

.image-info img {
    height: 750px;
}

/* some-fact-section */
.some-fact-title {
    font-weight: 700;
    font-size: 45px;
    padding-left: 40px;
    padding-bottom: 5px;

}

.some-fact-author {
    font-weight: 400;
    font-size: 16px;
    padding-left: 40px;
    padding-right: 525px;
    padding-bottom: 80px;
}

.some-fact {
    text-align: left;
}

/* box-section */
.some-fact-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.box {
    border: 1px solid #FF900E;
    padding: 15px;
    width: 200px;
}

.box-title {
    font-weight: 600;
    font-size: 30px;
    color: #424242;
}

.box-info {
    color: #727272;
    font-weight: 600;
    font-size: 18px;
    padding-top: 5px;
}

/* sponspors-section */
.sponspors {
    text-align: center;
    padding-top: 80px;
    padding-bottom: 30px;
}

.sponspors-title {
    font-weight: 700;
    font-size: 40px;
    color: var(--primary-text-color);
}

.sponspors-author {
    color: #727272;
    font-weight: 400;
    font-size: 16px;
    padding-left: 220px;
    padding-right: 220px;
}

.sponspors-last-section {
    display: flex;
    justify-content: center;
    padding: 20px;

}

.spon img {
    padding: 60px;


}

/* footer-section */
.footer {
    background-color: #FFF4E7;
    text-align: center;
    border-radius: 8px;
    border: 1px solid #FFF4E7;
    margin: 80px;
    
}

.footer-title {
    font-weight: 400;
    font-size: 16px;
    color: #424242;
}
.address-section{
    background-color: cadetblue;
    display: flex;
    justify-content:space-around;
}
.adress{
   padding: 10px;
}
.user-info{
    padding: 10px;
}
.user-info-input{
       padding: 5px;
}
.email-title{
    padding-bottom: 5px;
}